<!DOCTYPE html>
<html lang="">
<head>  
<title>Dth Recharge</title>

<link rel="StyleSheet"href="dthform.css">
<script src="angular.min.js"></script>
<script src="app.js"></script>
</head>

<body ng-app="dthModule">
<div ng-controller = "DthController as dth">
<form id="rechargeForm">
  <fielset>
    <legend>Enter Your Details</legend>
    <label for="mn">Dth No</label>
	<input type="text" id="mn" name="msisdn" ng-model="dth.msisdn"></br>
   
	<label for="op">Select Operator</label>
	<select name="operator_code" ng-model="dth.opCode">
		<option value="">Choose Your Operator</option>
		<option value="5">Airtel</option>
		<option value="2">DishTv</option>
		<option value="1">Tata Sky</option>
		<option value="4">Videocon D2h</option>
		<option value="3">Big Tv</option>
		<option value="6">Sun Tv</option>
	</select></br>
	
    <label for="amt">Amount</label>
    <input type="test" id="amt" name="amount" ng-model="dth.amount"/></br>
    <button class="recharge" ng-click="dth.fillCharge();">FillCharge</button>
	</br>
	{{dth.message}}
  </fieldset>

</form>
</div>

</body>

</html>